@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --color-woods: #65ab31;
    --color-shoreline: #0068b7;
    --color-customs: #ee7800;
    --color-reserve: #d70035;
    --color-interchange: #fcc800;
    --color-factory: #6f5436;
    --color-lab: #00a1e9;
    --color-streetoftarkov: #9f166a;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
section {
    width: 100%;
    height: 100%;
    position: relative;
}
header {
    height: 120px;
    width: 100%;
    background-color: #262626;
    color: white;
    position: fixed;
    box-shadow: 0 5px 10px black;
    z-index: 100;
}
header .__inner {
    max-width: 1280px;
    margin: 0 auto;
}
header .__inner .links{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
header .__inner .links .logo{
}
header .__inner .links .logo h1{
    letter-spacing: 2px;
    font-size: 28px;
    border-bottom: 1px solid;
}
header .__inner .menu{
    height: 40px;
    width: 100%;
}
header .__inner .menu ul {
    height: 100%;
    width: 100%;
    display: flex;
}
header .__inner .menu ul li {
    display: block;
    height: 100%;
    width: 100%;
}
header .__inner .menu ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0 0 4px black;
    letter-spacing: 1px;
    text-align: center;
}
header .__inner .menu ul li:nth-child(1) {
    background-color: #558C74;
}
header .__inner .menu ul li:nth-child(2) {
    background-color: #CDC187;
}
header .__inner .menu ul li:nth-child(3) {
    background-color: #F1B075;
}
header .__inner .menu ul li:nth-child(4) {
    background-color: #E55241;
}
header .__inner .menu ul li:nth-child(5) {
    background-color: #CDC187;
}
header .__inner .menu ul li a:hover {
    background-color: #262626;
    color: white;
}
main {
    min-height: 100vh;
    margin-top: 120px;
    color: white;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
main .__inner {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding: 1em;
}
main .__inner .content-container {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #262626;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 8px black;
}
main .__inner .content-container:last-child {
    margin-bottom: 0;
}
main .__inner .content-container .flag1 {
    width: 40%;
    height: 200%;
    position: absolute;
    right: -2em;
    background-color: white;
    transform: rotateZ(20deg);
    box-shadow: 0 0 0 1em white;
    border: 2px solid;
    z-index: 5;
}
main .__inner .content-container:nth-child(1) .flag1{
    border-color: var(--color-woods);
}
main .__inner .content-container:nth-child(2) .flag1{
    border-color: var(--color-shoreline);
}
main .__inner .content-container:nth-child(3) .flag1{
    border-color: var(--color-customs);
}
main .__inner .content-container:nth-child(4) .flag1{
    border-color: var(--color-reserve);
}
main .__inner .content-container:nth-child(5) .flag1{
    border-color: var(--color-interchange);
}
main .__inner .content-container:nth-child(6) .flag1{
    border-color: var(--color-factory);
}
main .__inner .content-container:nth-child(7) .flag1{
    border-color: var(--color-lab);
}
main .__inner .content-container:nth-child(8) .flag1{
    border-color: var(--color-streetoftarkov);
}
main .__inner .content-container .flag2 {
    width: 40%;
    height: 200%;
    position: absolute;
    right: -1em;
    background-color: black;
    transform: rotateZ(-20deg);
}
main .__inner .content-container:nth-child(1) .flag2{
    background-color: var(--color-woods);
}
main .__inner .content-container:nth-child(2) .flag2{
    background-color: var(--color-shoreline);
}
main .__inner .content-container:nth-child(3) .flag2{
    background-color: var(--color-customs);
}
main .__inner .content-container:nth-child(4) .flag2{
    background-color: var(--color-reserve);
}
main .__inner .content-container:nth-child(5) .flag2{
    background-color: var(--color-interchange);
}
main .__inner .content-container:nth-child(6) .flag2{
    background-color: var(--color-factory);
}
main .__inner .content-container:nth-child(7) .flag2{
    background-color: var(--color-lab);
}
main .__inner .content-container:nth-child(8) .flag2{
    background-color: var(--color-streetoftarkov);
}
main .__inner .content-container .details{
    width: 60%;
}
main .__inner .content-container .details h2 {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    border-bottom: 1px solid;
}
main .__inner .content-container .details h2 span {
    padding-left: 0.6em;
    font-size: 16px;
}
main .__inner .content-container .details table {
    position: relative;
    z-index: 20;
    mix-blend-mode: difference;
}
main .__inner .content-container .details table tr th{
    padding: 0 0.5em;
}
main .__inner .content-container .details table tr td{
    padding: 0 0.5em;
}
main .__inner .content-container .details a {
    text-decoration: underline;
    color: orange;
}
main .__inner .content-container .details a:hover {
    opacity: .5;
}
main .__inner .content-container .map-image{
    width: 24%;
    height: 100%;
    background-color: black;
    z-index: 10;
    transform: skewX(-20deg);
    transform-origin: 0 150%;
    overflow: hidden;
}
main .__inner .content-container .map-image:hover {
    animation: choice 0.5s ease alternate forwards running;
}
main .__inner .content-container .map-image a {
    cursor: pointer;
}
main .__inner .content-container .map-image img{
    width: auto;
    height: 140%;
    transform: skewX(20deg);
    transform-origin: bottom left;
}
footer {
    height: 80px;
    width: 100%;
    background-color: #262626;
    color: white;
}
footer .__inner {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
.mapViewer {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapViewer.inview {
    z-index: 200;
    transition: .5s;
}
.mapViewer.inview .__inner {
    height: 80%;
    width: 90%;
    position: relative;
    background-color: rgba(255, 255, 255, .6);
}
.mapViewer.inview .__inner::before {
    content: 'No Image';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: 600;
}
.mapViewer.inview .__inner #close {
    height: 48px;
    width: 48px;
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.mapViewer.inview .__inner #close:hover {
    background-color: rgba(255, 255, 255, .2);
}
.mapViewer.inview .__inner #close span,
.mapViewer.inview .__inner #close span::before,
.mapViewer.inview .__inner #close span::after {
    content: '';
    height: 2px;
    width: 32px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
}
.mapViewer.inview .__inner #close span {
    background-color: rgba(0, 0, 0, 0);
}
.mapViewer.inview .__inner #close span::before {
    transform: rotate(45deg);
}
.mapViewer.inview .__inner #close span::after{
    transform: rotate(-45deg);
}
.mapViewer.inview .__inner .imageContainer {
    height: 100%;
    width: 100%;
    overflow: scroll;
    text-align: center;
    position: relative;
}
.mapViewer.inview .__inner .imageContainer::-webkit-scrollbar{
    width: 12px;
    overflow: hidden;
    background-color: #eee;
}
.mapViewer.inview .__inner .imageContainer::-webkit-scrollbar:horizontal{
    height: 12px;
}
.mapViewer.inview .__inner .imageContainer::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #262626;
}
.mapViewer.inview .__inner .imageContainer::-webkit-scrollbar-thumb{
    background: #262626;
    overflow: hidden;
    border-radius: 5px;
}
.mapViewer.inview .__inner .imageContainer::-webkit-scrollbar-corner{
    background: #262626;
    border-radius: 5px;
}
.mapViewer.inview .__inner .imageContainer img {
    height: 100%;
    width: auto;
    cursor: pointer;
}
.mapViewer.inview .__inner .imageContainer .menuBar {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}
.mapViewer.inview .__inner .imageContainer .menuBar button {
    height: 36px;
    width: 36px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.mapViewer.inview .__inner .imageContainer .coordinate {
    position: fixed;
    top: 2em;
    left: 2em;
    z-index: 500;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
}

@keyframes choice {
    100% {
        width: 30%;
    }
}